= form_for(@blogs) do |f|
  - if @blogs.errors.any?
    #error_explanation
      %h2
        = pluralize(@blogs.errors.count, "error")
        prohibited this blog from being saved:
      %ul
        - @blogs.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title, class: 'text-label'
    %br
      = f.text_field :title
  .field
    = f.label :content, class: 'text-label'
    %br
      = f.text_area :content, size: "50x8"
  .actions
    = f.submit class: 'btn btn-primary'