- provide(:title, "#{@blog.title}")

.generic-container
  .container
    .row
      .col-lg-12
        %h1= "Title: #{@blog.title}"
        - if current_user.id == @blog.user.id
          = link_to 'Edit', edit_blogger_path(@blog), class: 'btn, btn-link'
    .row
      .col-lg-12
        %p.text-justify= raw sanitize @blog.content, tags: %w(strong em a p), attributes: %w(href id class)
    .row.pull-left
      .col-lg-12
        %br/
        = link_to 'Go Back', bloggers_path, class: 'btn btn-primary'
  .container
    .row
      .col-lg-12
        %br/
        %br/ 
        = link_to "Comments", "#", id: "comments-link"
    .row.comment-section
      .col-lg-12
        #comments-all
        = render @blog.comments.order('created_at DESC')
  .container
    .row.comment-section
      .col-lg-12 
        = render "comments/form"