- provide(:title, "#{@blog.title}")

.generic-container
  .container
    .row
      .col-lg-12
        %h1= "Title: #{@blog.title}"
    .row
      .col-lg-12
        %p.text-justify= sanitize @blog.content, tags: %w(strong em a p), attributes: %w(href id class)
    .row.pull-left
      .col-lg-12
        %br/
        = link_to 'Go Back', bloggers_path, class: 'btn btn-danger'
    /     = link_to 'Edit',  edit_blogger_path(@blog), class: 'btn btn-primary'

    /     =link_to 'Delete Blog', blogger_path(@blog), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you Sure?'}
  .container
    .row
      .col-lg-12
        %br/
        %br/ 
        = link_to "Comments", "#", id: "comments-link"
    .row.comment-section
      .col-lg-12
        #comments-all
        = render @blog.comments.order('created_at DESC')
  .container
    .row.comment-section
      .col-lg-12 
        = render "comments/form"