- provide(:title, "#{@blogs.title}")
.generic-container
  .container
    .row
      .col-lg-12
        %h1= "Title: #{@blogs.title}"
    .row
      .col-lg-12
        %p= "#{@blogs.content}"
    .row
      .col-lg-12 
        = link_to 'Edit',  edit_blogger_path(@blogs), class: 'btn btn-primary'

        =link_to 'Delete Blog', blogger_path(@blogs), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you Sure?'}