<div class="generic-container">

  <h2><%= "Conversation With " + to_whom_user_chatting.first_name ||to_whom_user_chatting.email %>
   <%= link_to "Go Back", conversations_path , class: "btn btn-link" %>
  </h2>
  <br>
    <% @messages.each do |message| %>
      <% if message.message_body %>
        <% user = User.find(message.user_id) %>
        <div class="well">
          <%= "(" + user.first_name + ")" %> &#9658;
          <%= message.message_body %>
          <div class="pull-right">
          <h6><%= time_ago_in_words(message.created_at) + " ago" %></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  <%= render partial: 'new' %>
</div>