.generic-container
  .row
    .col-md-6.col-md-offset-3
      %h2 Sign up
      = form_for resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true } do |f|
        = devise_error_messages!
        .field
          = f.label :email, class: "text-label"
          %br/
          = f.email_field :email, autofocus: true
        .field
          = f.label :password, class: "text-label"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off"
        .field
          = f.label "Upload Image", class: "text-label"
          %br/
          = f.file_field :image
        .field
        .actions
          = f.submit "Sign up"
      = render "devise/shared/links"