<div class="generic-container">
  <h3>Mailbox</h3>
  <br>
  <% if @conversations.empty? %>
    <h3><%= "No Messages" %></h3>
  <% end %>
    <div class="row">
      <div class="col-lg-12">
       <% @conversations.each do |conversation| %>
        <% if conversation.messages.present? %>
          <table class="table table-bordered center table-hover">
            <thead>
              <tr class="success">
                <th>Conversation With</th>
                <th>Title</th>
                <th>Time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class='clickable-row' data-href=<%= conversation_messages_path(conversation) %>>
                <% if conversation.sender_id == current_user.id || conversation.receiver_id == current_user.id %>
                  <% if conversation.sender_id == current_user.id %>
                    <% receiver = User.find(conversation.receiver_id) %>
                  <% else %>
                    <% receiver = User.find(conversation.sender_id) %>
                <% end %>
                  <td>
                    <%= image_tag receiver.image.url(:thumb), "data-toggle" => "tooltip", "title" => "#{ receiver.first_name || "user" }", "class" =>"avatar img-thumbnail", "data-placement" => "bottom" %>
                  </td>
                  <td><%= conversation.messages.first.message_body.truncate(40) %>
                  </td>
                  <td>
                    <%= time_ago_in_words(conversation.updated_at) %>
                  </td> 
                  <td>
                    <%= link_to "Delete", conversation_path(conversation), method: :delete, data: { confirm: 'Are you Sure?'} %>
                  </td>
                <% end %>
              </tr>
              <script type="text/javascript">
                $(document).ready(function() {
                  $(".clickable-row").click(function() {
                  window.document.location = $(this).data("href");
                  });
                });
              </script>
            </tbody>
           </table>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
      <br><br>
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <%= user.first_name || user.username + " | " %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, receiver_id: user.id), method: 'post', class: "btn btn-parimary" %>
            <% end %>
          <% end %>
      </div>
    </div>
</div>


