%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  .container.topnav
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.topnav{:href => "#"}
        %span.glyphicon.glyphicon-tint.color-class
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_path
        %li
          = link_to "About", "#"
        - if user_signed_in?
          %li 
            = link_to  'Add Blog', new_blogger_path
          %li
            = link_to 'All Blogs' ,bloggers_path
          %li
            %a{:href => edit_user_registration_path }
              %span.glyphicon.glyphicon-cog 
              Settings
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to 'Conversations', "#user"
          %li
            %a{:href => destroy_user_session_path }
              = "#{current_user.username} | Sign out"
        - else
          %li
            %a{:href =>  new_user_registration_path }
              %span.glyphicon.glyphicon-user 
              Sign Up
          %li
            %a{:href => new_user_session_path }
              %span.glyphicon.glyphicon-log-in
              Login